.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all var(--transition-duration);
  font-family: var(--main-font);
}
.btn-secondary {
  color: var(--clr-gray);
  padding: 18px 54px;
  border-radius: 70px;
  border: 1px solid var(--clr-gray);
}
.btn-secondary:hover {
  color: var(--clr-white);
  background: var(--clr-gray);
}
.btn-tab {
  padding: 10px 15px;
  border-radius: 42px;
  border: 1px solid #898fa6;
}
.btn-tab:hover {
  color: var(--clr-accent-blue-hover);
  border-color: var(--clr-accent-blue-hover);
}
.btn-tab.active {
  color: var(--clr-white);
  background: var(--clr-accent-blue-hover);
  border-color: var(--clr-accent-blue-hover);
}
.btn-color {
  color: var(--clr-white);
  background: var(--clr-gradient);
  background-size: 300%;
  background-position-x: center;
  padding: 18px 54px;
  border-radius: 70px;
  box-shadow: 0px -1px 4px 0px rgba(255, 255, 255, 0.76) inset, 0px 2px 0px 0px rgba(222, 67, 0, 0.78);
  position: relative;
  overflow: hidden;
}
.btn-color::after {
  position: absolute;
  width: 41%;
  /* transform: rotate(-60deg); */
  background: linear-gradient(135deg, rgb(255, 143, 86), rgb(255, 255, 255) 50%, rgb(255, 143, 86));
  content: "";
  display: block;
  height: 100%;
  left: -100%;
  transition: all 0.9s;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  opacity: 0.4;
}
.btn-color:hover::after {
  left: calc(100% + 100px);
}
.btn-with-icon {
  gap: 8px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--clr-accent);
  font-size: 1rem;
}
.btn-with-icon svg path {
  transition: all var(--transition-duration);
}
.btn-with-icon:hover {
  color: var(--clr-accent-blue-hover);
}
.btn-with-icon:hover svg path {
  fill: var(--clr-accent-blue-hover);
}
.btn-circle {
  width: 50px;
  height: 50px;
  justify-content: center;
  border-radius: 50%;
  background: #F5F6FC;
  transition: all var(--transition-duration);
  cursor: pointer;
}
.btn-circle svg path {
  transition: all var(--transition-duration);
}
.btn-circle:hover {
  background: #D9E0F3;
}
.container {
  width: 100%;
  max-width: calc(1200px + 8rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--cont-padding);
  padding-right: var(--cont-padding);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section_white {
  background: var(--clr-white);
}

.section_pb3 {
  padding-bottom: 60px;
}

.section_pt4 {
  padding-top: 80px;
}

.section_pt2 {
  padding-top: 40px;
}

.section_pb0 {
  padding-bottom: 0;
}

.section_pt0 {
  padding-top: 0;
}