.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all var(--transition-duration);
}
.btn-secondary {
  color: var(--clr-gray);
  padding: 18px 54px;
  border-radius: 70px;
  border: 1px solid var(--clr-gray);
}
.btn-secondary:hover {
  color: var(--clr-white);
  background: var(--clr-gray);
}
.btn-color {
  color: var(--clr-white);
  background: linear-gradient(92deg, #ff8f56 0%, #FF945B 41.95%, #FFA55C 44.47%, #FFB16E 55.01%, #FF9B62 59.04%);
  background-size: 300%;
  background-position-x: center;
  padding: 18px 54px;
  border-radius: 70px;
  box-shadow: 0px -1px 4px 0px rgba(255, 255, 255, 0.76) inset, 0px 2px 0px 0px rgba(222, 67, 0, 0.78);
}
.btn-color:hover {
  background-position: left;
  box-shadow: 0px -1px 4px 0px rgba(255, 255, 255, 0.76) inset, 0px 2px 0px 0px #E56D2B;
}

.container {
  width: 100%;
  max-width: calc(1200px + 8rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--cont-padding);
  padding-right: var(--cont-padding);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}