.fs {
  background: url(/images/fs_bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.fs-index .container {
  padding-top: 226px;
  padding-bottom: 153px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}
.fs__decor_left {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
}
.fs__decor_left-house {
  position: absolute;
  /* bottom: -30%; */
  width: 100%;
  right: 32.3%;
  top: 8%;
}
.fs__decor_left-house img {
  width: 100%;
}
.fs__decor_left-three1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85%;
}
.fs__decor_left-three2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85%;
}
.fs__decor_left-three3 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 85%;
}
.fs__decor_left-foll {
  position: absolute;
  right: 27%;
  top: 5%;
}
.fs__decor_right {
  overflow: hidden;
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.fs__decor_right-house {
  position: absolute;
  width: 138%;
  left: 11.3%;
  top: -5%;
}
.fs__decor_right-house img {
  width: 100%;
}
.fs__decor_right-three1 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.fs__decor_right-three2 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.fs__decor_right-foll {
  position: absolute;
  left: 28%;
  top: 6%;
}
.fs__title {
  letter-spacing: 2.08px;
  font-size: 52px;
  text-align: center;
}
.fs__subtitle {
  color: var(--clr-accent-blue);
  font-family: "Good Vibes Pro";
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 2.08px;
  text-align: center;
}
.fs__recall {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.fs__advs {
  margin-top: 90px;
  width: 80%;
}
.fs__advs_list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.fs__advs_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  min-width: 185px;
}
.fs__advs_item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: var(--clr-white);
  filter: drop-shadow(0px 3px 18px rgba(221, 226, 246, 0.77));
}
.fs__advs_item-title {
  text-align: center;
  font-weight: 700;
  line-height: 1.4;
}
.fs__advs_item-text {
  text-align: center;
  line-height: 1.4;
}

.page__control {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page__control_links {
  display: flex;
  align-items: center;
  gap: 13px;
}

.apart__sheme {
  position: relative;
}
.apart__sheme_tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
.apart__sheme_img {
  position: relative;
  display: none;
  transition: all var(--transition-duration);
  opacity: 0;
  width: 100%;
  height: auto;
  flex-grow: 1;
  cursor: pointer;
}
.apart__sheme_img .before {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(70, 70, 70, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: all var(--transition-duration);
}
.apart__sheme_img:hover .before {
  visibility: visible;
  opacity: 1;
}
.apart__sheme_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.apart__sheme_img.active {
  position: relative;
  display: block;
  opacity: 1;
}
.apart__desc_list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}
.apart__desc_item p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.apart__desc_item p .value {
  white-space: nowrap;
  color: var(--clr-accent);
}
.apart__desc_container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  gap: 50px;
  border-radius: var(--radius);
  border: 1px solid #d7e0f5;
  padding: 60px 57px;
}
.apart__desc_bottom {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about {
  overflow: hidden;
  position: relative;
}
.about__decor_left, .about__decor_right {
  position: absolute;
  pointer-events: none;
  z-index: 0;
}
.about__decor_left {
  left: 0;
  bottom: 100px;
  width: 50%;
}
.about__decor_right {
  top: 100px;
  right: 0;
  width: 35%;
}
.about__apart {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.about__apart_sheme {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  padding: 48px 120px;
  background: #f5f6fc;
  border-radius: var(--radius);
  flex-grow: 1;
}
.about__apart_desc {
  display: flex;
  flex-direction: column;
  width: 40.6666666667%;
  min-width: 400px;
  overflow: hidden;
  transition: all var(--transition-duration);
}
.about__apart_desc.w0 {
  width: 0;
}
.about__desc {
  max-width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 60px;
}
.about__slider {
  overflow: visible;
  max-width: 100%;
  height: 450px;
}
.about__slider .swiper-wrapper {
  height: 100%;
  align-items: center;
}
.about__slider_container {
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
}
.about__slider_control {
  margin-top: 54px;
  display: flex;
  justify-content: space-between;
}
.about__slider_control .swiper-pagination {
  position: relative;
}
.about__slider_nav {
  display: flex;
  align-items: center;
  gap: 24px;
}
.about__slider_nav .btn svg path {
  transition: all var(--transition-duration);
}
.about__slider_nav .btn:hover svg path {
  fill: #6f89c9;
}
.about__slider_nav .btn.swiper-button-disabled svg path {
  fill: #DAE0F1;
}
.about__slider_info {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  color: var(--clr-accent-blue-hover);
}
.about__slider_info .slider-length {
  color: var(--clr-light-blue);
}
.about__slider_pagination {
  display: flex;
  align-items: center;
  gap: 20px;
}
.about__slider_pagination .swiper-pagination-bullet {
  cursor: pointer;
  display: block;
  margin: 0 !important;
  width: 8px;
  height: 8px;
  background: var(--clr-accent-blue-hover);
}
.about__slide {
  border-radius: var(--radius);
  overflow: hidden;
  isolation: isolate;
  height: 100%;
  transition: transform var(--transition-duration);
}
.about__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__slide.swiper-slide-active {
  transform: scale(1.1);
}
.about__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-content: center;
  gap: var(--gap);
  margin-top: 68px;
  position: relative;
  z-index: 1;
}
.about__item {
  padding: 22px;
  background: var(--clr-light-blue);
  border-radius: var(--radius);
}
.about__item_img {
  border-radius: 7px;
  overflow: hidden;
  isolation: isolate;
  margin-bottom: 20px;
}
.about__item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__item_text {
  line-height: 1.4;
}

.map .h2 {
  margin-bottom: 60px;
}
.map__content {
  position: relative;
  width: 100%;
  height: 557px;
  border-radius: var(--radius);
  overflow: hidden;
  isolation: isolate;
  display: flex;
  align-items: center;
}
.map__points {
  position: absolute;
  width: 40%;
  max-width: 345px;
  height: 85%;
  left: 48px;
  background: var(--clr-white);
  border-radius: calc(var(--radius) * 0.8);
  padding: 42px 44px;
}
.map__points_list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.map__points_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.map__points_item:hover .map__points_name {
  color: var(--clr-accent-blue-hover);
}
.map__points_item:hover .map__points_name img {
  opacity: 0.7;
}
.map__points_item:hover .map__points_nums {
  color: var(--clr-accent-blue-hover);
}
.map__points_name {
  line-height: 1.4;
  transition: all var(--transition-duration);
}
.map__points_name img {
  margin-right: 8px;
  transition: all var(--transition-duration);
}
.map__points_nums {
  transition: all var(--transition-duration);
}
.map #main_map {
  width: 100%;
  height: 100%;
}

.finishings {
  overflow: hidden;
}
.finishings .h2 {
  margin-bottom: 60px;
}
.finishings__sliders {
  width: 100%;
  display: flex;
  gap: 84px;
  background: var(--clr-white);
  position: relative;
  z-index: 1;
  transform: scale(1.03);
  padding: 0 102px;
}
.finishings__sliders-container {
  align-items: center;
  display: flex;
  position: relative;
  height: 440px;
  margin-left: auto;
  margin-right: auto;
}
.finishings__slider {
  width: 63.6546184739%;
  z-index: 1;
}
.finishings__slider_false {
  position: absolute;
  overflow: visible;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  max-width: 996px;
  left: 50%;
  transform: translateX(-50%);
}
.finishings__slider_false .big__image {
  border-radius: var(--radius);
  overflow: hidden;
  isolation: isolate;
  flex-grow: 1;
}
.finishings__slider_false .big__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.finishings__slider_false .small__images {
  display: none !important;
  align-items: center;
  gap: 19px;
}
.finishings__slider_false .small__images_item {
  border-radius: var(--radius);
  overflow: hidden;
  isolation: isolate;
}
.finishings__slider_false .small__images_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.finishings__slide {
  display: flex;
  justify-content: space-between;
  height: auto;
  gap: 90px;
  transition: all var(--transition-duration);
  border-radius: var(--radius);
  overflow: hidden;
  isolation: isolate;
}
.finishings__slide.swiper-slide-active .finishings__slide_text {
  display: flex;
}
.finishings__slide_images {
  display: flex;
  flex-direction: column;
  gap: 19px;
  flex-grow: 1;
}
.finishings__slide_text {
  width: 100%;
  flex-shrink: 0;
  padding: 40px 0;
  flex-direction: column;
  gap: 54px;
  height: auto;
}
.finishings__slide_title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 1.28px;
  margin-bottom: 50px;
}
.finishings__slide_advs {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 2);
}
.finishings__slide_advs-item {
  padding: 0 11px;
  display: flex;
  gap: var(--gap);
}
.finishings__slide_advs-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #D9E0F3;
  flex-shrink: 0;
}
.finishings__text_slider {
  width: 278px;
  height: auto;
  flex-shrink: 0;
}
.finishings__text_slider .about__slider_control {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
.finishings .big__image {
  border-radius: var(--radius);
  overflow: hidden;
  isolation: isolate;
  flex-grow: 1;
}
.finishings .big__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.finishings .small__images {
  display: flex;
  align-items: center;
  gap: var(--gap);
}
.finishings .small__images_item {
  border-radius: var(--radius);
  overflow: hidden;
  isolation: isolate;
  flex-grow: 1;
}
.finishings .small__images_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feedback {
  position: relative;
  overflow: hidden;
}
.feedback__decor_left, .feedback__decor_right {
  position: absolute;
}
.feedback__decor_left {
  top: 0;
  left: 0;
  width: 10%;
}
.feedback__decor_right {
  right: 2%;
  top: 0;
  width: 35%;
}
.feedback__content {
  width: 100%;
  max-width: 835px;
  padding: 75px 125px;
  background: var(--clr-white);
  margin-left: auto;
  margin-right: auto;
}
.feedback__form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feedback__form_title {
  text-align: center;
  margin-bottom: 22px;
}
.feedback__form_subtitle {
  margin-bottom: 45px;
  text-align: center;
  max-width: 400px;
}
.feedback__form_subtitle h4 {
  text-align: center;
}
.feedback__form_fields {
  display: flex;
  flex-wrap: wrap;
  gap: 22px 16px;
  margin-bottom: 40px;
}
.feedback__form_label {
  display: flex;
  width: calc(50% - 10px);
  padding: 0 26px;
  align-items: center;
  position: relative;
}
.feedback__form_label .border {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  border: 1px solid #898fa6;
  border-radius: 70px;
  z-index: 0;
  transition: all var(--transition-duration);
}
.feedback__form_label .icon {
  position: relative;
  z-index: 1;
}
.feedback__form_label .input {
  padding: 20px 0px 20px 12px;
  position: relative;
  z-index: 1;
  background: none !important;
}
.feedback__form_agree {
  margin-top: 16px;
}
.feedback__form_agree .agree {
  display: flex;
  gap: 14px;
  max-width: 300px;
  position: relative;
}
.feedback__form_agree .agree input {
  position: absolute;
  visibility: hidden;
}
.feedback__form_agree .agree input:checked + .checkbox svg {
  opacity: 1;
}
.feedback__form_agree .agree .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  flex-shrink: 0;
  border: 1px solid var(--clr-gray);
}
.feedback__form_agree .agree .checkbox svg {
  opacity: 0;
  transition: all 0.3s;
}
.feedback__form_agree .agree .text {
  font-weight: 600;
}
.feedback__form_scls {
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: center;
  width: 100%;
}
.feedback__form_scls-list {
  display: flex;
  align-items: center;
  gap: 18px;
}
.feedback__form_scls-item {
  position: relative;
  cursor: pointer;
}
.feedback__form_scls-item:hover .icon {
  background: #D9E0F3;
}
.feedback__form_scls-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border: 1px solid #F5F6FC;
  border-radius: 50%;
  background: #F5F6FC;
  transition: all var(--transition-duration);
}
.feedback__form_scls-item input {
  position: absolute;
  visibility: hidden;
  width: 0;
}
.feedback__form_scls-item input:checked + .icon {
  border-color: #FFA570;
  background: #D9E0F3;
}

.present__decor_left, .present__decor_right {
  position: absolute;
}
.present__decor_left {
  top: 0;
  left: 0;
  width: 33%;
}
.present__decor_right {
  top: 0;
  right: 0;
  width: 48%;
}

.form__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
}
.form__content.active {
  visibility: visible;
}

.aparts .h2 {
  margin-bottom: 60px;
}
.aparts__filter_form {
  height: auto;
  max-height: 200px;
  transition: all var(--transition-duration);
}
.aparts__filter_form.hidden {
  max-height: 0;
  padding-bottom: 0;
}
.aparts__filter_result {
  padding-top: 32px;
  border-top: 1px solid #D9E0F3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aparts__filter_result-num {
  font-weight: 600;
}
.aparts__filter_hidden svg {
  transition: all var(--transition-duration);
}
.aparts__filter_hidden.active svg {
  transform: rotate(180deg);
}
.aparts__list {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: var(--gap);
}
.aparts__item {
  display: flex;
  flex-direction: column;
  padding: 28px 30px 40px;
  border: 1px solid #898FA6;
  border-radius: var(--radius);
  transition: all var(--transition-duration);
  gap: 36px;
  color: var(--clr-accent);
}
.aparts__item:hover {
  border-color: var(--clr-accent-blue-hover);
}
.aparts__item_img {
  display: flex;
  justify-content: center;
}
.aparts__item_content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.aparts__item_desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aparts__item_desc p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}
.aparts__item_price .old-price {
  margin-bottom: 4px;
  text-decoration: line-through;
  font-weight: 600;
}
.aparts__item_price .new-price {
  font-weight: 800;
  color: var(--clr-accent-blue-hover);
}
.aparts__more {
  margin-top: 80px;
}
.aparts__more_btn {
  margin-left: auto;
  margin-right: auto;
}

.filter__form_fields {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  padding-bottom: 32px;
}
.filter__form_field {
  flex: 1 1 230px;
  background: var(--clr-white);
  padding: 6px 18px;
  position: relative;
}

.dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 2;
  font-weight: 600;
}
.dropdown.active .dropdown__list {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.dropdown__title {
  color: var(--clr-gray-hover);
}
.dropdown__value {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
  cursor: pointer;
  transition: all var(--transition-duration);
  z-index: 2;
}
.dropdown__value svg path {
  transition: all var(--transition-duration);
}
.dropdown__value:hover {
  color: var(--clr-accent-blue-hover);
}
.dropdown__value:hover svg path {
  fill: var(--clr-accent-blue-hover);
}
.dropdown__value .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dropdown__list {
  position: absolute;
  width: 100%;
  background: var(--clr-white);
  border-radius: calc(var(--radius) / 2);
  left: 0;
  top: calc(100% + 3px);
  display: flex;
  flex-direction: column;
  z-index: 1;
  box-shadow: 0px 4px 8px 0px rgba(139, 143, 162, 0.1);
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50px);
  transition: all var(--transition-duration);
  overflow: auto;
  max-height: 250px;
}
.dropdown__item {
  padding: 12px 18px;
  display: flex;
  position: relative;
  cursor: pointer;
  transition: all var(--transition-duration);
}
.dropdown__item input {
  position: absolute;
  visibility: hidden;
}
.dropdown__item input:checked + .value {
  color: var(--clr-accent-blue-hover);
}
.dropdown__item:not(:last-child) {
  border-bottom: 1px solid var(--clr-light);
}
.dropdown__item:hover {
  background: rgba(245, 246, 251, 0.3);
  color: var(--clr-accent-blue-hover);
}

.line-select {
  padding: 6px 0;
}
.line-select__fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.line-select__field {
  position: relative;
  display: flex;
  cursor: pointer;
  transition: all var(--transition-duration);
  font-weight: 600;
}
.line-select__field:hover {
  color: var(--clr-accent-blue-hover);
}
.line-select__field input {
  position: absolute;
  visibility: hidden;
}
.line-select__field input:checked + .value {
  color: var(--clr-accent-blue-hover);
}
.line-select__field .value {
  transition: all var(--transition-duration);
}

.range-field {
  font-weight: 500;
}
.range-field__values {
  padding: 6px 0;
  display: flex;
  justify-content: space-between;
}
.range-field__input {
  position: absolute;
  display: flex;
  align-items: center;
  top: 100%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 18px;
  left: 0;
}
.range-field__input input {
  width: 100%;
  position: absolute;
  visibility: hidden;
}
.range-field__line {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  height: 2px;
}
.range-field__line .before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--clr-accent-blue-hover);
  cursor: pointer;
  left: 0%;
  transition: all 0.3s;
}
.range-field__line .before:hover {
  transform: scale(1.5);
}
.range-field__line .after {
  position: absolute;
  width: 8px;
  right: 0%;
  height: 8px;
  border-radius: 50%;
  background: var(--clr-accent-blue-hover);
  cursor: pointer;
  transition: all 0.3s;
}
.range-field__line .after:hover {
  transform: scale(1.5);
}

.slide-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-weight: 600;
}
.slide-field__input {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid var(--clr-gray);
  border-radius: 16px;
  padding: 2px;
  gap: 2px;
  justify-content: space-between;
  width: 34px;
  cursor: pointer;
}
.slide-field__input.active {
  border-color: var(--clr-accent-blue-hover);
}
.slide-field__input .radio {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--clr-gray);
  position: relative;
  transform: translateX(0);
  transition: all 0.2s;
}
.slide-field__input input {
  visibility: hidden;
  cursor: pointer;
  position: absolute;
  height: 16px;
  position: absolute;
}
.slide-field__input input:checked + .radio {
  transform: translateX(100%);
  background: var(--clr-accent-blue-hover);
  right: 2px;
}

.calc .h2 {
  margin-bottom: 60px;
}
.calc__form {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 125px;
  background: #f5f6fc;
}
.calc__form_fields {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}
.calc__res {
  padding: 26px 60px;
  background: var(--clr-white);
  border-radius: 5px;
  margin-top: 36px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap);
}
.calc__res_price {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.calc__res_price .price {
  color: var(--clr-accent-blue-hover);
  font-weight: 600;
}
.calc__res_fields {
  display: flex;
}
.calc__res_field {
  padding: 0 30px;
  border-left: 1px solid #D9E0F3;
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1.4;
  justify-content: space-between;
}
.calc__res_field:last-child {
  padding-right: 0;
}
.calc__res_field .value {
  font-size: 1.125rem;
  line-height: 1.4;
}
.calc__res_subtext {
  margin-top: 12px;
  max-width: 660px;
  font-weight: 600;
  text-align: center;
}
.calc__resp {
  margin-top: 40px;
}
.calc__developer {
  display: flex;
  gap: 95px;
  justify-content: space-between;
}
.calc__developer_link a {
  display: flex;
  width: 100%;
  height: auto;
}
.calc__developer_link a img {
  width: 100%;
}
.calc__developer_info {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 1.5);
  padding-top: 50px;
  width: 48.1666666667%;
  flex-shrink: 0;
}
.calc__developer_img {
  border-radius: var(--radius);
  overflow: hidden;
  isolation: isolate;
  height: auto;
  width: 54.1666666667%;
}
.calc__developer_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.calc__developer_quote {
  padding: 27px 68px;
  max-width: 450px;
}
.calc__developer_rating {
  display: flex;
  align-items: center;
  gap: 24px;
}
.calc__developer_rating .icon {
  flex-shrink: 0;
  width: 96px;
}
.calc__developer_rating .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.calc__developer_rating .text {
  max-width: 400px;
}
.calc__developer_rating .h3 {
  margin-bottom: 8px;
}
.calc__developer_desc {
  font-size: 0.875rem;
  line-height: 1.3;
  font-weight: 600;
}
.calc__developer_desc p:not(:last-child) {
  margin-bottom: 8px;
}
.calc__developer_note {
  font-size: 0.75rem;
  color: #222;
  font-weight: 600;
  line-height: 1.4;
}

.developer .h2 {
  margin-bottom: 56px;
}
.developer__sliders {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
.developer__slider {
  width: 57.6666666667%;
}
.developer__slider a {
  display: flex;
  width: 100%;
  height: 100%;
}
.developer__slider_text {
  width: 36.4166666667%;
}
.developer__slider_text .about__slider_control {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.developer__slide {
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  overflow: hidden;
  isolation: isolate;
}
.developer__slide a {
  display: flex;
  width: 100%;
  height: 100%;
}
.developer__slide a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.developer__text-slide {
  padding: 50px 0;
  background: var(--clr-light);
}
.developer__text-slide .h3 {
  margin-bottom: 18px;
}
.developer__text-slide p {
  line-height: 1.4;
}
.developer__text-slide p:not(:last-child) {
  margin-bottom: 8px;
}

.faq .h2 {
  margin-bottom: 60px;
}
.faq__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  justify-content: space-between;
}
.faq__item {
  padding: 42px 102px;
  background: var(--clr-light);
  display: flex;
  flex-direction: column;
}
.faq__item.active .faq__item_title svg {
  transform: perspective(100px) rotateX(-180deg);
}
.faq__item_title {
  display: flex;
  justify-content: space-between;
  transition: all var(--transition-duration);
  gap: calc(var(--gap) * 2);
}
.faq__item_title .icon {
  display: flex;
  width: 32px;
  flex-shrink: 0;
}
.faq__item_title svg, .faq__item_title svg path {
  transition: all var(--transition-duration);
}
.faq__item_title:hover {
  color: var(--clr-accent-blue-hover);
}
.faq__item_title:hover svg path {
  fill: var(--clr-accent-blue-hover);
}
.faq__item_body {
  margin-top: 26px;
  padding-top: 26px;
  border-top: 1px solid #D9E0F3;
}
.faq__item_body p {
  width: 60%;
}

.accordion-header {
  font-family: var(--font_accent);
  /* font-weight: bold; */
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}