.fs {
  background: url(/images/fs_bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.fs-index .container {
  padding-top: 226px;
  padding-bottom: 153px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}
.fs__decor_left {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
}
.fs__decor_left-house {
  position: absolute;
  /* bottom: -30%; */
  width: 100%;
  right: 32.3%;
  top: 8%;
}
.fs__decor_left-house img {
  width: 100%;
}
.fs__decor_left-three1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85%;
}
.fs__decor_left-three2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85%;
}
.fs__decor_left-three3 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 85%;
}
.fs__decor_left-foll {
  position: absolute;
  right: 27%;
  top: 5%;
}
.fs__decor_right {
  overflow: hidden;
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.fs__decor_right-house {
  position: absolute;
  width: 138%;
  left: 11.3%;
  top: -5%;
}
.fs__decor_right-house img {
  width: 100%;
}
.fs__decor_right-three1 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.fs__decor_right-three2 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.fs__decor_right-foll {
  position: absolute;
  left: 28%;
  top: 6%;
}
.fs__title {
  letter-spacing: 2.08px;
  font-size: 52px;
  text-align: center;
}
.fs__subtitle {
  color: var(--clr-accent-blue);
  font-family: "Good Vibes Pro";
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 2.08px;
  text-align: center;
}
.fs__recall {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.fs__advs {
  margin-top: 90px;
  width: 80%;
}
.fs__advs_list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.fs__advs_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  min-width: 185px;
}
.fs__advs_item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: var(--clr-white);
  filter: drop-shadow(0px 3px 18px rgba(221, 226, 246, 0.77));
}
.fs__advs_item-title {
  text-align: center;
  font-weight: 700;
  line-height: 1.4;
}
.fs__advs_item-text {
  text-align: center;
  line-height: 1.4;
}

.about {
  overflow: hidden;
}
.about__desc {
  max-width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 60px;
}
.about__slider {
  overflow: visible;
  max-width: 100%;
  height: 450px;
}
.about__slider .swiper-wrapper {
  height: 100%;
  align-items: center;
}
.about__slider_container {
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
}
.about__slider_control {
  margin-top: 54px;
  display: flex;
  justify-content: space-between;
}
.about__slider_control .swiper-pagination {
  position: relative;
}
.about__slider_nav {
  display: flex;
  align-items: center;
  gap: 24px;
}
.about__slider_nav .btn svg path {
  transition: all var(--transition-duration);
}
.about__slider_nav .btn:hover svg path {
  fill: #6f89c9;
}
.about__slider_nav .btn.swiper-button-disabled svg path {
  fill: #DAE0F1;
}
.about__slider_info {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  color: var(--clr-accent-blue-hover);
}
.about__slider_info .slider-length {
  color: var(--clr-light-blue);
}
.about__slider_pagination {
  display: flex;
  align-items: center;
  gap: 20px;
}
.about__slider_pagination .swiper-pagination-bullet {
  cursor: pointer;
  display: block;
  margin: 0 !important;
  width: 8px;
  height: 8px;
  background: var(--clr-accent-blue-hover);
}
.about__slide {
  border-radius: var(--radius);
  overflow: hidden;
  isolation: isolate;
  height: 100%;
  transition: transform var(--transition-duration);
}
.about__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__slide.swiper-slide-active {
  transform: scale(1.1);
}
.about__list {
  display: flex;
  gap: var(--gap);
  margin-top: 68px;
}
.about__item {
  width: calc(25% - var(--gap) / 2);
  padding: 22px;
  background: var(--clr-light-blue);
  border-radius: var(--radius);
}
.about__item_img {
  border-radius: 7px;
  overflow: hidden;
  isolation: isolate;
  margin-bottom: 20px;
}
.about__item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__item_text {
  line-height: 1.4;
}

.map .h2 {
  margin-bottom: 60px;
}
.map__content {
  position: relative;
  width: 100%;
  height: 557px;
  border-radius: var(--radius);
  overflow: hidden;
  isolation: isolate;
  display: flex;
  align-items: center;
}
.map__points {
  position: absolute;
  width: 40%;
  max-width: 345px;
  height: 85%;
  left: 48px;
  background: var(--clr-white);
  border-radius: calc(var(--radius) * 0.8);
  padding: 42px 44px;
}
.map__points_list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.map__points_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.map__points_item:hover .map__points_name {
  color: var(--clr-accent-blue-hover);
}
.map__points_item:hover .map__points_name img {
  opacity: 0.7;
}
.map__points_item:hover .map__points_nums {
  color: var(--clr-accent-blue-hover);
}
.map__points_name {
  line-height: 1.4;
  transition: all var(--transition-duration);
}
.map__points_name img {
  margin-right: 8px;
  transition: all var(--transition-duration);
}
.map__points_nums {
  transition: all var(--transition-duration);
}
.map #main_map {
  width: 100%;
  height: 100%;
}

.finishings {
  overflow: hidden;
}
.finishings .h2 {
  margin-bottom: 60px;
}
.finishings__sliders {
  width: 100%;
  max-width: 996px;
  margin-left: auto;
  margin-right: auto;
}
.finishings__slider {
  width: 100%;
  overflow: visible;
}
.finishings__slide {
  display: flex;
  justify-content: space-between;
  height: auto;
  gap: 90px;
  transition: all var(--transition-duration);
}
.finishings__slide.swiper-slide-active {
  transform: scale(1.05);
}
.finishings__slide.swiper-slide-active .small__images {
  display: flex;
}
.finishings__slide.swiper-slide-active .finishings__slide_text {
  display: flex;
}
.finishings__slide_images {
  display: flex;
  flex-direction: column;
  gap: 19px;
  flex-grow: 1;
}
.finishings__slide_text {
  width: 278px;
  flex-shrink: 0;
  padding: 40px 0;
  display: none;
  flex-direction: column;
  gap: 54px;
}
.finishings__slide_title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 1.28px;
}
.finishings__slide_advs {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.finishings__slide_advs-item {
  padding: 0 11px;
  display: flex;
  gap: var(--gap);
}
.finishings__slide_advs-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #D9E0F3;
  flex-shrink: 0;
}
.finishings .big__image {
  border-radius: var(--radius);
  overflow: hidden;
  isolation: isolate;
  flex-grow: 1;
}
.finishings .big__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.finishings .small__images {
  display: none;
  align-items: center;
  gap: 19px;
}
.finishings .small__images_item {
  border-radius: var(--radius);
  overflow: hidden;
  isolation: isolate;
}
.finishings .small__images_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feedback__content {
  width: 100%;
  max-width: 835px;
  padding: 75px 125px;
  background: var(--clr-white);
  margin-left: auto;
  margin-right: auto;
}
.feedback__form_title {
  text-align: center;
  margin-bottom: 22px;
}
.feedback__form_subtitle {
  margin-bottom: 45px;
  text-align: center;
  max-width: 400px;
}
.feedback__form_subtitle h4 {
  text-align: center;
}
.feedback__form_fields {
  display: flex;
  flex-wrap: wrap;
  gap: 22px 16px;
  margin-bottom: 40px;
}
.feedback__form_label {
  display: flex;
  width: calc(50% - 10px);
  padding: 0 26px;
  align-items: center;
  position: relative;
}
.feedback__form_label .border {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  border: 1px solid #898fa6;
  border-radius: 70px;
  z-index: 0;
  transition: all var(--transition-duration);
}
.feedback__form_label .icon {
  position: relative;
  z-index: 1;
}
.feedback__form_label .input {
  padding: 20px 0px 20px 12px;
  position: relative;
  z-index: 1;
  background: none !important;
}
.feedback__form_scls {
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: center;
  width: 100%;
}
.feedback__form_scls-list {
  display: flex;
  align-items: center;
  gap: 18px;
}
.feedback__form_scls-item {
  position: relative;
  cursor: pointer;
}
.feedback__form_scls-item:hover .icon {
  background: #D9E0F3;
}
.feedback__form_scls-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border: 1px solid #F5F6FC;
  border-radius: 50%;
  background: #F5F6FC;
  transition: all var(--transition-duration);
}
.feedback__form_scls-item input {
  position: absolute;
  visibility: hidden;
  width: 0;
}
.feedback__form_scls-item input:checked + .icon {
  border-color: #FFA570;
  background: #D9E0F3;
}

.form__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aparts .h2 {
  margin-bottom: 60px;
}

.filter__form_fields {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}
.filter__form_field {
  flex: 1 1 225px;
  background: var(--clr-white);
  padding: 6px 18px;
  position: relative;
}

.dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 2;
  font-weight: 600;
}
.dropdown.active .dropdown__list {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.dropdown__title {
  color: var(--clr-gray-hover);
}
.dropdown__value {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
  cursor: pointer;
  transition: all var(--transition-duration);
  z-index: 2;
}
.dropdown__value svg path {
  transition: all var(--transition-duration);
}
.dropdown__value:hover {
  color: var(--clr-accent-blue-hover);
}
.dropdown__value:hover svg path {
  fill: var(--clr-accent-blue-hover);
}
.dropdown__value .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.dropdown__list {
  position: absolute;
  width: 100%;
  background: var(--clr-white);
  border-radius: calc(var(--radius) / 2);
  left: 0;
  top: calc(100% + 3px);
  display: flex;
  flex-direction: column;
  z-index: 1;
  box-shadow: 0px 4px 8px 0px rgba(139, 143, 162, 0.1);
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50px);
  transition: all var(--transition-duration);
  overflow: auto;
  max-height: 250px;
}
.dropdown__item {
  padding: 12px 18px;
  display: flex;
  position: relative;
  cursor: pointer;
  transition: all var(--transition-duration);
}
.dropdown__item input {
  position: absolute;
  visibility: hidden;
}
.dropdown__item input:checked + .value {
  color: var(--clr-accent-blue-hover);
}
.dropdown__item:not(:last-child) {
  border-bottom: 1px solid var(--clr-light);
}
.dropdown__item:hover {
  background: rgba(245, 246, 251, 0.3);
  color: var(--clr-accent-blue-hover);
}

.line-select {
  padding: 6px 0;
}
.line-select__fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.line-select__field {
  position: relative;
  display: flex;
  cursor: pointer;
  transition: all var(--transition-duration);
  font-weight: 600;
}
.line-select__field:hover {
  color: var(--clr-accent-blue-hover);
}
.line-select__field input {
  position: absolute;
  visibility: hidden;
}
.line-select__field input:checked + .value {
  color: var(--clr-accent-blue-hover);
}
.line-select__field .value {
  transition: all var(--transition-duration);
}

.range-field {
  font-weight: 500;
}
.range-field__values {
  padding: 6px 0;
  display: flex;
  justify-content: space-between;
}
.range-field__input {
  position: absolute;
  display: flex;
  align-items: center;
  top: 100%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 18px;
  left: 0;
}
.range-field__input input {
  width: 100%;
  position: absolute;
  visibility: hidden;
}
.range-field__line {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  height: 2px;
  background: var(--clr-accent-blue-hover);
}
.range-field__line .before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--clr-accent-blue-hover);
  cursor: pointer;
  left: 0%;
  transition: all 0.3s;
}
.range-field__line .before:hover {
  transform: scale(1.5);
}
.range-field__line .after {
  position: absolute;
  width: 8px;
  right: 0%;
  height: 8px;
  border-radius: 50%;
  background: var(--clr-accent-blue-hover);
  cursor: pointer;
  transition: all 0.3s;
}
.range-field__line .after:hover {
  transform: scale(1.5);
}

.slide-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-weight: 600;
}
.slide-field__input {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid var(--clr-gray);
  border-radius: 16px;
  padding: 2px;
  gap: 2px;
  justify-content: space-between;
  width: 34px;
  cursor: pointer;
}
.slide-field__input.active {
  border-color: var(--clr-accent-blue-hover);
}
.slide-field__input .radio {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--clr-gray);
  position: relative;
  transform: translateX(0);
  transition: all 0.2s;
}
.slide-field__input input {
  visibility: hidden;
  cursor: pointer;
  position: absolute;
  height: 16px;
  position: absolute;
}
.slide-field__input input:checked + .radio {
  transform: translateX(100%);
  background: var(--clr-accent-blue-hover);
  right: 2px;
}