@media screen and (max-width: 1200px) {
  :root {
    --cont-padding: 3rem;
  }
  h1,
  .h1 {
    font-size: 2.875rem;
  }
  h2,
  .h2 {
    font-size: 2.125rem;
  }
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .head__nav {
    display: none;
  }
  .head__burger {
    display: block;
  }
  .foot__cols {
    gap: 3.5rem;
  }
  .fs-index .container {
    padding-top: 160px;
    padding-bottom: 100px;
  }
  .fs__title, .fs__subtitle {
    font-size: 46px;
  }
  .fs__recall {
    gap: 45px;
  }
  .fs__advs {
    margin-top: 70px;
  }
  .fs__decor_left {
    left: -8%;
    width: 35%;
  }
  .fs__decor_left-house {
    position: absolute;
    /* bottom: -30%; */
    width: 100%;
    bottom: -30%;
  }
  .fs__decor_left-house img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom right;
  }
  .fs__decor_left-three1 {
    position: absolute;
    bottom: 0;
    left: -5%;
    width: 85%;
  }
  .fs__decor_left-three2 {
    position: absolute;
    bottom: 0;
    left: -3%;
    width: 85%;
  }
  .fs__decor_left-three3 {
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 85%;
  }
  .fs__decor_left-foll {
    position: absolute;
    right: 10%;
    top: 13%;
  }
  .fs__decor_right {
    right: -8%;
    width: 35%;
  }
  .fs__decor_right-house {
    position: absolute;
    width: 138%;
    left: 15.3%;
    bottom: -5%;
  }
  .fs__decor_right-house img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom left;
  }
  .fs__decor_right-three1 {
    position: absolute;
    bottom: 0;
    left: 37%;
  }
  .fs__decor_right-three2 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .fs__decor_right-foll {
    position: absolute;
    left: 40%;
    top: 26%;
  }
  .apart__desc_container {
    padding: 50px 45px;
    gap: 40px;
  }
  .about__decor_right {
    top: 20px;
  }
  .about__decor_left {
    bottom: 20px;
  }
  .about__apart {
    gap: 50px;
  }
  .about__apart_sheme {
    padding: 40px 80px;
  }
  .about__slider {
    height: 400px;
  }
  .about__slide.swiper-slide-active {
    transform: scale(1.05);
  }
  .about__list {
    margin-top: 60px;
  }
  .map .h2 {
    margin-bottom: 50px;
  }
  .map__content {
    height: 500px;
  }
  .map__points {
    left: 30px;
    padding: 35px 40px;
  }
  .finishings .h2 {
    margin-bottom: 50px;
  }
  .finishings__sliders {
    padding: 0 80px;
    gap: 60px;
  }
  .finishings__slider_false {
    width: 90%;
  }
  .finishings__slide_title {
    margin-bottom: 40px;
    font-size: 28px;
  }
  .finishings__slide_text {
    padding: 40px 0;
  }
  .finishings__slide_advs {
    gap: 30px;
  }
  .finishings__slide_advs-item {
    padding: 0;
  }
  .finishings__text_slider {
    width: 245px;
  }
  .feedback__decor_right {
    right: 0;
  }
  .feedback__content {
    padding: 60px 100px;
  }
  .aparts .h2 {
    margin-bottom: 50px;
  }
  .aparts__list {
    margin-top: 50px;
  }
  .aparts__more {
    margin-top: 55px;
  }
  .calc .h2 {
    margin-bottom: 50px;
  }
  .calc .h2 {
    margin-bottom: 50px;
  }
  .calc__form {
    margin-bottom: 60px;
    padding: 45px 100px;
  }
  .calc__res {
    padding: 20px 40px;
    flex-direction: column;
  }
  .calc__res_field {
    flex-grow: 1;
  }
  .calc__developer {
    gap: 80px;
  }
  .calc__developer_info {
    padding-top: 40px;
  }
  .calc__developer_rating {
    gap: 20px;
  }
  .calc__developer_rating .icon {
    width: 85px;
  }
  .calc__developer_quote {
    padding: 20px 50px;
    max-width: 450px;
  }
  .developer .h2 {
    margin-bottom: 50px;
  }
  .developer__sliders {
    gap: 60px;
  }
  .developer__text-slide {
    padding-top: 40px;
  }
  .faq .h2 {
    margin-bottom: 50px;
  }
  .faq__list {
    gap: var(--gap);
  }
  .faq__item {
    padding: 35px 80px;
  }
  .faq__item_body {
    margin-top: 22px;
    padding-top: 22px;
  }
  .faq__item_body p {
    width: 65%;
  }
}