@media screen and (max-width: 375px) {
  .head .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .mobile__content {
    padding: 15px 20px 20px;
  }
  .feedback__content {
    padding: 30px 20px;
  }
  .feedback__form_scls {
    flex-wrap: wrap;
  }
  .feedback__form_scls-list {
    width: 100%;
    justify-content: space-between;
  }
  .calc .h2 {
    margin-bottom: 25px;
  }
  .calc__form {
    margin-bottom: 30px;
    padding: 20px 15px;
  }
  .calc__resp {
    margin-top: 25px;
  }
}