@media screen and (max-width: 768px) {
  :root {
    --cont-padding: 2rem;
  }
  .head .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .foot .container {
    padding-top: 45px;
    padding-bottom: 30px;
  }
  .foot__content {
    gap: 30px;
  }
  .foot__cols {
    gap: 2.5rem 3rem;
  }
  .copyright {
    justify-content: flex-start;
    margin-top: 45px;
  }
}