@media screen and (max-width: 768px) {
  :root {
    --cont-padding: 2rem;
  }
  .head .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .foot .container {
    padding-top: 45px;
    padding-bottom: 30px;
  }
  .foot__content {
    gap: 30px;
  }
  .foot__cols {
    gap: 2.5rem 3rem;
  }
  .copyright {
    justify-content: flex-start;
    margin-top: 45px;
  }
  .mobile__content {
    padding: 20px 30px 30px;
  }
  .fs__title, .fs__subtitle {
    font-size: 32px;
  }
  .fs__decor_right {
    right: 0%;
  }
  .fs__decor_right-foll {
    position: absolute;
    left: 40%;
    top: 50%;
  }
  .fs__decor_left {
    left: -8%;
  }
  .fs__decor_left-foll {
    position: absolute;
    right: 10%;
    top: 30%;
  }
}