@media (max-width: 1800px) {
  .fs__decor_left {
    left: -5%;
  }
  .fs__decor_left-house {
    position: absolute;
    /* bottom: -30%; */
    width: 100%;
    right: 29.3%;
    top: 12%;
  }
  .fs__decor_left-house img {
    width: 100%;
  }
  .fs__decor_left-three1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85%;
  }
  .fs__decor_left-three2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85%;
  }
  .fs__decor_left-three3 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 85%;
  }
  .fs__decor_left-foll {
    position: absolute;
    right: 27%;
    top: 5%;
  }
  .fs__decor_right {
    right: -5%;
  }
  .fs__decor_right-house {
    position: absolute;
    width: 138%;
    left: 13.3%;
    top: 8%;
  }
  .fs__decor_right-house img {
    width: 100%;
  }
  .fs__decor_right-three1 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .fs__decor_right-three2 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .fs__decor_right-foll {
    position: absolute;
    left: 28%;
    top: 6%;
  }
  .finishings__sliders {
    padding: 0 100px;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .finishings__slider_false {
    width: 90%;
  }
}
@media (max-width: 1680px) {
  .fs__decor_left {
    left: -5%;
  }
  .fs__decor_left-house {
    position: absolute;
    /* bottom: -30%; */
    width: 100%;
    right: 19.3%;
    top: 15%;
  }
  .fs__decor_left-house img {
    width: 100%;
  }
  .fs__decor_left-three1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85%;
  }
  .fs__decor_left-three2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85%;
  }
  .fs__decor_left-three3 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 85%;
  }
  .fs__decor_left-foll {
    position: absolute;
    right: 6%;
    top: 5%;
  }
  .fs__decor_right {
    right: -5%;
  }
  .fs__decor_right-house {
    position: absolute;
    width: 138%;
    left: 13.3%;
    top: 14%;
  }
  .fs__decor_right-house img {
    width: 100%;
  }
  .fs__decor_right-three1 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .fs__decor_right-three2 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .fs__decor_right-foll {
    position: absolute;
    left: 28%;
    top: 18%;
  }
}
@media (max-width: 1550px) {
  .fs__decor_left {
    left: -5%;
  }
  .fs__decor_left-house {
    position: absolute;
    /* bottom: -30%; */
    width: 100%;
    right: 19.3%;
    top: 19%;
  }
  .fs__decor_left-house img {
    width: 100%;
  }
  .fs__decor_left-three1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85%;
  }
  .fs__decor_left-three2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85%;
  }
  .fs__decor_left-three3 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 85%;
  }
  .fs__decor_left-foll {
    position: absolute;
    right: 3%;
    top: 2%;
  }
  .fs__decor_right {
    right: -5%;
  }
  .fs__decor_right-house {
    position: absolute;
    width: 138%;
    left: 17.3%;
    top: 19%;
  }
  .fs__decor_right-house img {
    width: 100%;
  }
  .fs__decor_right-three1 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .fs__decor_right-three2 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .fs__decor_right-foll {
    position: absolute;
    left: 35%;
    top: 26%;
  }
}
@media (max-width: 1440px) {
  .fs-index .container {
    padding-top: 190px;
    padding-bottom: 140px;
  }
  .fs__decor_left {
    left: -8%;
  }
  .fs__decor_left-house {
    position: absolute;
    /* bottom: -30%; */
    width: 100%;
    top: 25%;
  }
  .fs__decor_left-house img {
    width: 100%;
  }
  .fs__decor_left-three1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85%;
  }
  .fs__decor_left-three2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85%;
  }
  .fs__decor_left-three3 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 85%;
  }
  .fs__decor_left-foll {
    position: absolute;
    right: 6%;
    top: 7%;
  }
  .fs__decor_right {
    right: -8%;
  }
  .fs__decor_right-house {
    position: absolute;
    width: 138%;
    left: 19.3%;
    top: 21%;
  }
  .fs__decor_right-house img {
    width: 100%;
  }
  .fs__decor_right-three1 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .fs__decor_right-three2 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .fs__decor_right-foll {
    position: absolute;
    left: 40%;
    top: 26%;
  }
  .about__decor_right {
    top: 50px;
  }
  .about__decor_left {
    bottom: 50px;
  }
  .calc__res {
    padding: 25px 45px;
  }
  .calc__res_field {
    padding: 0 20px;
  }
}