:root {
  --main-font: "Manrope", sans-serif;
  --vibe-font: "Good Vibes Pro";
  --clr-white: #FFFFFF;
  --clr-gray: #8b8fa2;
  --clr-gray-hover: #8A8FA4;
  --text-color: #19264B;
  --clr-light: #f5f6fb;
  --clr-light-blue: #dae0f1;
  --clr-accent: #464646;
  --clr-accent-blue: #6f89c9;
  --clr-accent-blue-hover: #2b4ea5;
  --clr-accent-orange: #ffae83;
  --clr-accent-orange-hover: #FF8F56;
  --clg-gradient: linear-gradient(92deg, #FF945B 17.95%, #FFA55C 37.47%, #FFB16E 71.01%, #FF9B62 94.04%);
  --cont-padding: 4rem;
  --gap: 20px;
  --transition-duration: 0.5s;
  --radius: 10px;
}