html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
u,
i,
ol,
ul,
li,
form,
label,
caption,
article,
footer,
header,
nav,
section,
audio,
video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
}

address {
	font-style: normal;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

ul,
li,
img {
	list-style-type: none;
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}

img {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus {
	outline: 0;
}

img,
audio,
video {
	max-width: 100%;
	height: auto;
}

audio,
iframe,
video,
img,
svg {
	vertical-align: middle;
}

iframe {
	border: 0;
}

textarea {
	resize: none;
	/*remove the resize handle on the bottom right*/
	overflow: auto;
	vertical-align: top;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

input,
textarea,
select,
button,
label,
div {
	outline: none;
	border: none;
	font-size: 100%;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

textarea,
button,
input {
	line-height: normal;
	background: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: none;
	outline: none !important;
	background: #ffffff00;
	transition: all 5000s ease-in-out;
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
// 	box-shadow: inset 20px 20px 0px 20px rgba(0, 0, 0, 0) !important;
// }

// @-webkit-keyframes autofill {
// 	to {
// 		color: #000;
// 		background: transparent;
// 	}
// }

// input:-webkit-autofill {
// 	-webkit-animation-name: autofill;
// 	-webkit-animation-fill-mode: both;
// }

input:active,
input:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: none;
	outline: none !important;
}

body {
	min-width: 320px;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	font-family: var(--main-font);
	color: var(--clr-accent);
	overflow-x: hidden;
	font-size: 16px;
	scroll-behavior: smooth;
	background: var(--clr-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

h1,
.h1 {
	font-size: 3rem;
	line-height: 1.3;
	letter-spacing: 1.92px;
	text-transform: uppercase;
}

h2,
.h2 {
	font-size: 2.375rem;
	line-height: 1.3;
	letter-spacing: 1.52px;
	text-transform: uppercase;
	text-align: center;
}

h3,
.h3 {
	font-size: 1.5rem;
	line-height: 1.3;
}

h4,
.h4 {
	font-size: 1.125rem;
	line-height: 1.4;
}

h4.h4-regular,
.h4.h4-regular {
	line-height: 1.4;
	font-weight: 400;
}

.main-font {
	font-size: 1rem;
	line-height: 1.4;
}

.sm-font {
	font-size: 0.875rem;
}

.xs-font {
	font-size: 0.75rem;
}

.hidden {
	overflow: hidden;
}

.light-text {
	color: var(--clr-gray);
}

.nav-link {
	color: var(--clr-accent);
	transition: all var(--transition-duration);
	position: relative;
	display: flex;
	font-size: 0.875rem;
	line-height: 1.3;
	white-space: nowrap;

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		width: 0;
		height: 1px;
		background: var(--clr-accent-blue-hover);
		transition: all var(--transition-duration);

	}

	&:hover {
		color: var(--clr-accent-blue-hover);

		&::before {
			width: 100%;
			background: var(--clr-accent-blue-hover);
		}
	}
}

.phone-link {
	display: flex;
	align-items: center;
	color: var(--clr-accent);
	transition: all var(--transition-duration);
	gap: 2px;
	white-space: nowrap;

	& svg {
		flex-shrink: 0;

		path {
			transition: all var(--transition-duration);
		}
	}

	&:hover {
		color: var(--clr-accent-blue-hover);

		& svg {
			path {
				fill: var(--clr-accent-blue-hover);
			}
		}
	}
}

.light-link {
	color: var(--clr-accent);
	text-decoration: underline;
	transition: all var(--transition-duration);

	&:hover {
		color: var(--clr-accent-blue-hover);
	}
}

.logo {
	display: flex;
	width: 150px;

	& img {
		width: 100%;
	}
}