.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.75rem;
	font-weight: 500;
	letter-spacing: 0.84px;
	text-transform: uppercase;
	cursor: pointer;
	transition: all var(--transition-duration);
	font-family: var(--main-font);

	&-secondary {
		color: var(--clr-gray);
		padding: 18px 54px;
		border-radius: 70px;
		border: 1px solid var(--clr-gray);

		&:hover {
			color: var(--clr-white);
			background: var(--clr-gray);
		}
	}

	&-color {
		color: var(--clr-white);
		background: var(--clr-gradient);
		background-size: 300%;
		background-position-x: center;
		padding: 18px 54px;
		border-radius: 70px;
		box-shadow: 0px -1px 4px 0px rgba(255, 255, 255, 0.76) inset, 0px 2px 0px 0px rgba(222, 67, 0, 0.78);
		position: relative;
		overflow: hidden;

		&::after {
			position: absolute;
			width: 41%;
			/* transform: rotate(-60deg); */
			background: -webkit-linear-gradient(135deg, rgb(255, 143, 86), rgb(255, 255, 255) 50%, rgb(255, 143, 86));
			background: -moz-linear-gradient(135deg, rgb(255, 143, 86), rgb(255, 255, 255) 50%, rgb(255, 143, 86));
			background: linear-gradient(135deg, rgb(255, 143, 86), rgb(255, 255, 255) 50%, rgb(255, 143, 86));
			content: "";
			display: block;
			height: 100%;
			left: -100%;
			transition: all 0.9s;
			backdrop-filter: blur(1px);
			opacity: 0.4;
		}


		&:hover {
			// background: var(--clr-accent-orange-hover);
			// background-position: left;
			// box-shadow: 0px -1px 4px 0px rgba(255, 255, 255, 0.76) inset, 0px 2px 0px 0px #E56D2B;

			&::after {
				left: calc(100% + 100px);
			}
		}
	}

	&-with-icon {
		gap: 8px;
		text-transform: capitalize;
		font-weight: 600;
		color: var(--clr-accent);
		font-size: 1rem;

		& svg path {
			transition: all var(--transition-duration);
		}

		&:hover {
			color: var(--clr-accent-blue-hover);

			& svg path {
				fill: var(--clr-accent-blue-hover);
			}
		}
	}
}

.container {
	width: 100%;
	max-width: calc(1200px + 4rem * 2);
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--cont-padding);
	padding-right: var(--cont-padding);
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
}

.section {
	padding-top: 100px;
	padding-bottom: 100px;
	// overflow: hidden;
}

.section_white {
	background: var(--clr-white);
}