.btn {
	display: flex;
	font-size: 0 0.75rem;
	font-weight: 500;
	letter-spacing: 0.84px;
	text-transform: uppercase;
	cursor: pointer;
	transition: all var(--transition-duration);
}

.container {
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 4rem;
	padding-right: 4rem;
}