// FS
.fs {
	background: url(/images/fs_bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	overflow: hidden;
	position: relative;

	&-index {
		// height: 100vh;
		// max-height: 980px;

		& .container {
			padding-top: 226px;
			padding-bottom: 153px;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
			z-index: 1;
		}
	}

	&__decor {
		&_left {
			position: absolute;
			width: 40%;
			height: 100%;
			left: 0;
			bottom: 0;
			z-index: 0;
			overflow: hidden;
			pointer-events: none;

			&-house {
				position: absolute;
				/* bottom: -30%; */
				width: 100%;
				right: 32.3%;
				top: 8%;

				& img {
					width: 100%;
				}
			}

			&-three1 {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 85%;
			}

			&-three2 {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 85%;
			}

			&-three3 {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 85%;
			}

			&-foll {
				position: absolute;
				right: 27%;
				top: 5%;
			}
		}

		&_right {
			overflow: hidden;
			position: absolute;
			width: 40%;
			height: 100%;
			right: 0;
			bottom: 0;
			pointer-events: none;
			z-index: 0;

			&-house {
				position: absolute;
				width: 138%;
				left: 11.3%;
				top: -5%;


				& img {
					width: 100%;
				}
			}

			&-three1 {
				position: absolute;
				bottom: 0;
				right: 0;
			}

			&-three2 {
				position: absolute;
				bottom: 0;
				left: 0;
			}

			&-foll {
				position: absolute;
				left: 28%;
				top: 6%;
			}
		}


	}



	&__title {
		letter-spacing: 2.08px;
		font-size: 52px;
		text-align: center;
	}

	&__subtitle {
		color: var(--clr-accent-blue);
		font-family: "Good Vibes Pro";
		font-size: 52px;
		font-style: normal;
		font-weight: 400;
		line-height: 1.3;
		letter-spacing: 2.08px;
		text-align: center;
	}

	&__recall {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 60px;
	}

	&__advs {
		margin-top: 90px;
		width: 80%;

		&_list {
			display: flex;
			align-items: flex-start;
			justify-content: center;
			flex-wrap: wrap;
			gap: 12px;
		}

		&_item {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 16px;
			min-width: 185px;

			&-icon {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 62px;
				height: 62px;
				border-radius: 50%;
				background: var(--clr-white);
				filter: drop-shadow(0px 3px 18px rgba(221, 226, 246, 0.77));
			}

			&-title {
				text-align: center;
				font-weight: 700;
				line-height: 1.4;
			}

			&-text {
				text-align: center;
				line-height: 1.4;
			}
		}
	}
}

.page {

	&__control {
		margin-bottom: 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&_links {
			display: flex;
			align-items: center;
			gap: 13px;
		}
	}
}

// ABOUT

.apart {

	&__sheme {
		position: relative;

		&_tabs {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			gap: 8px;
		}

		&_img {
			position: relative;
			// visibility: hidden;
			display: none;
			transition: all var(--transition-duration);
			opacity: 0;
			width: 100%;
			height: auto;
			flex-grow: 1;
			cursor: pointer;

			& .before {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: rgba($color: #464646, $alpha: 0.5);
				opacity: 0;
				visibility: hidden;
				z-index: 1;
				transition: all var(--transition-duration);
			}

			&:hover {
				& .before {
					visibility: visible;
					opacity: 1;
				}
			}

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&.active {
				position: relative;
				display: block;
				// visibility: visible;
				opacity: 1;

			}
		}
	}

	&__desc {
		&_list {
			margin-top: 30px;
			display: flex;
			flex-direction: column;
			gap: 18px;
			width: 100%;
		}

		&_item {
			& p {
				display: flex;
				align-items: center;
				justify-content: space-between;

				& .value {
					white-space: nowrap;
					color: var(--clr-accent);
				}
			}
		}

		&_container {
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			width: 100%;
			gap: 50px;
			border-radius: var(--radius);
			border: 1px solid #d7e0f5;
			padding: 60px 57px;
		}

		&_bottom {
			display: flex;
			flex-direction: column;
			gap: 12px;
		}
	}
}

// ABOUT

.about {
	overflow: hidden;
	position: relative;

	&__decor {

		&_left,
		&_right {
			position: absolute;
			pointer-events: none;
			z-index: 0;
		}

		&_left {
			left: 0;
			bottom: 100px;
			width: 50%;
		}

		&_right {
			top: 100px;
			right: 0;
			width: 35%;
		}
	}

	&__apart {
		display: flex;
		justify-content: space-between;
		gap: 60px;

		&_sheme {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 45px;
			padding: 48px 120px;
			background: #f5f6fc;
			border-radius: var(--radius);
			// flex-shrink: 0;
			flex-grow: 1;
		}

		&_desc {
			display: flex;
			flex-direction: column;
			width: calc(488 / 1200 * 100%);
			min-width: 400px;
			overflow: hidden;
			transition: all var(--transition-duration);

			&.w0 {
				width: 0;
			}
		}


	}

	&__desc {
		max-width: 700px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 24px;
		margin-bottom: 60px;

	}

	&__slider {
		overflow: visible;
		max-width: 100%;
		height: 450px;

		& .swiper-wrapper {
			height: 100%;
			align-items: center;
		}

		&_container {
			max-width: 625px;
			margin-left: auto;
			margin-right: auto;
		}

		&_control {
			margin-top: 54px;
			display: flex;
			justify-content: space-between;

			& .swiper-pagination {
				position: relative;
			}
		}

		&_nav {
			display: flex;
			align-items: center;
			gap: 24px;

			& .btn {
				& svg path {
					transition: all var(--transition-duration);
				}

				&:hover {
					& svg path {
						fill: #6f89c9;
					}
				}

				&.swiper-button-disabled {
					& svg path {
						fill: #DAE0F1;
					}
				}
			}
		}

		&_info {
			display: flex;
			align-items: center;
			gap: 32px;
			font-size: 18px;
			font-weight: 700;
			line-height: 1.4;
			color: var(--clr-accent-blue-hover);

			& .slider-length {
				color: var(--clr-light-blue);
			}
		}

		&_pagination {
			display: flex;
			align-items: center;
			gap: 20px;

			& .swiper-pagination-bullet {
				cursor: pointer;
				display: block;
				margin: 0 !important;
				width: 8px;
				height: 8px;
				background: var(--clr-accent-blue-hover);

			}
		}


	}

	&__slide {
		border-radius: var(--radius);
		overflow: hidden;
		isolation: isolate;
		height: 100%;
		transition: transform var(--transition-duration);

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__slide.swiper-slide-active {
		transform: scale(1.1);
	}

	&__list {
		// display: flex;
		// flex-wrap: wrap;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
		justify-content: center;
		gap: var(--gap);
		margin-top: 68px;
		position: relative;
		z-index: 1;
	}

	&__item {
		// width: calc(25% - var(--gap) / 2);
		padding: 22px;
		background: var(--clr-light-blue);
		border-radius: var(--radius);

		&_img {
			border-radius: 7px;
			overflow: hidden;
			isolation: isolate;
			margin-bottom: 20px;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&_text {
			line-height: 1.4;
		}
	}
}

// MAP
.map {

	& .h2 {
		margin-bottom: 60px;
	}

	&__content {
		position: relative;
		width: 100%;
		height: 557px;
		border-radius: var(--radius);
		overflow: hidden;
		isolation: isolate;
		display: flex;
		align-items: center;
	}

	&__points {
		position: absolute;
		width: 40%;
		max-width: 345px;
		height: 85%;
		left: 48px;
		background: var(--clr-white);
		border-radius: calc(var(--radius) * 0.8);
		padding: 42px 44px;

		&_list {
			display: flex;
			flex-direction: column;
			gap: 18px;
		}

		&_item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			cursor: pointer;

			&:hover {

				& .map__points {
					&_name {
						color: var(--clr-accent-blue-hover);

						& img {
							opacity: .7;
						}
					}

					&_nums {
						color: var(--clr-accent-blue-hover);
					}
				}
			}
		}

		&_name {
			line-height: 1.4;

			transition: all var(--transition-duration);

			& img {
				margin-right: 8px;
				transition: all var(--transition-duration)
			}
		}

		&_nums {
			transition: all var(--transition-duration)
		}
	}

	& #main_map {
		width: 100%;
		height: 100%;
	}
}

// FINISHINGS 
.finishings {
	overflow: hidden;

	& .h2 {
		margin-bottom: 60px;
	}

	&__sliders {
		width: 100%;
		display: flex;
		gap: 84px;
		background: var(--clr-white);
		position: relative;
		z-index: 1;
		transform: scale(1.03);
		padding: 0 102px;

		&-container {

			align-items: center;
			display: flex;
			position: relative;
			height: 440px;
			// max-width: 996px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__slider {
		width: calc(634 / 996 * 100%);

		z-index: 1;

		&_false {
			position: absolute;
			overflow: visible;
			z-index: 0;
			height: 100%;
			width: 100%;
			top: 0;
			max-width: 996px;
			left: 50%;
			transform: translateX(-50%);


			& .big {
				&__image {
					border-radius: var(--radius);
					overflow: hidden;
					isolation: isolate;
					flex-grow: 1;

					& img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}

			& .small {
				&__images {
					display: none !important;
					align-items: center;
					gap: 19px;

					&_item {
						border-radius: var(--radius);
						overflow: hidden;
						isolation: isolate;

						& img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}




		}
	}

	&__slide {
		display: flex;
		justify-content: space-between;
		height: auto;
		gap: 90px;
		transition: all var(--transition-duration);
		border-radius: var(--radius);
		overflow: hidden;
		isolation: isolate;

		&.swiper-slide-active {
			// transform: scale(1.05);

			& .small {
				&__images {
					// display: flex;
				}
			}

			& .finishings {
				&__slide {


					&_text {
						display: flex;
					}
				}
			}
		}

		&_images {
			display: flex;
			flex-direction: column;
			gap: 19px;
			flex-grow: 1;
		}

		&_text {
			width: 100%;
			flex-shrink: 0;
			padding: 40px 0;
			// display: none;
			flex-direction: column;
			gap: 54px;
			height: auto;
		}

		&_title {
			font-size: 32px;
			font-weight: 700;
			line-height: 1.3;
			letter-spacing: 1.28px;
			margin-bottom: 50px;
		}

		&_advs {
			display: flex;
			flex-direction: column;
			gap: calc(var(--gap) * 2);

			&-item {
				padding: 0 11px;
				display: flex;
				gap: var(--gap);
			}

			&-icon {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 38px;
				height: 38px;
				border-radius: 50%;
				background: #D9E0F3;
				flex-shrink: 0;
			}
		}
	}

	&__text {

		&_slider {
			// width: calc(278 / 996 * 100%);
			width: 278px;
			height: auto;
			flex-shrink: 0;

			& .about__slider_control {
				position: absolute;
				bottom: 0;
				width: 100%;
				z-index: 2;
			}
		}

	}

	& .big {
		&__image {
			border-radius: var(--radius);
			overflow: hidden;
			isolation: isolate;
			flex-grow: 1;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	& .small {
		&__images {
			display: flex;
			align-items: center;
			gap: var(--gap);

			&_item {
				border-radius: var(--radius);
				overflow: hidden;
				isolation: isolate;
				flex-grow: 1;

				& img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}

// FEEDBACK 
.feedback {
	position: relative;
	overflow: hidden;

	&__decor {

		&_left,
		&_right {
			position: absolute;
		}

		&_left {
			top: 0;
			left: 0;
			width: 10%;
		}

		&_right {
			right: 2%;
			top: 0;
			width: 35%;
		}
	}

	&__content {
		width: 100%;
		max-width: 835px;
		padding: 75px 125px;
		background: var(--clr-white);
		margin-left: auto;
		margin-right: auto;
	}

	&__form {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&_title {
			text-align: center;
			margin-bottom: 22px;
		}

		&_subtitle {
			margin-bottom: 45px;
			text-align: center;
			max-width: 400px;

			& h4 {
				text-align: center;
			}
		}

		&_fields {
			display: flex;
			flex-wrap: wrap;
			gap: 22px 16px;
			margin-bottom: 40px;
		}

		&_label {
			display: flex;
			width: calc(50% - 10px);
			padding: 0 26px;
			align-items: center;
			position: relative;

			& .border {
				position: absolute;
				width: 100%;
				height: 100%;
				display: block;
				top: 0;
				left: 0;
				border: 1px solid #898fa6;
				border-radius: 70px;
				z-index: 0;
				transition: all var(--transition-duration);
			}

			& .icon {
				position: relative;
				z-index: 1;
			}

			& .input {
				padding: 20px 0px 20px 12px;
				position: relative;
				z-index: 1;
				background: none !important;

				&:focus~ {

					&+.border {
						border-color: var(--clr-accent);
						background: #F5F6FC;
					}
				}
			}
		}

		&_agree {
			margin-top: 16px;

			& .agree {
				display: flex;
				gap: 14px;
				max-width: 300px;
				position: relative;

				& input {
					position: absolute;
					visibility: hidden;

					&:checked+.checkbox {
						& svg {
							opacity: 1;
						}
					}
				}

				& .checkbox {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 18px;
					height: 18px;
					border-radius: 3px;
					flex-shrink: 0;
					border: 1px solid var(--clr-gray);

					& svg {
						opacity: 0;
						transition: all 0.3s;
					}
				}

				& .text {
					font-weight: 600;
				}
			}

		}

		&_scls {
			display: flex;
			align-items: center;
			gap: 14px;
			justify-content: center;
			width: 100%;

			&-list {
				display: flex;
				align-items: center;
				gap: 18px;
			}

			&-item {
				position: relative;
				cursor: pointer;

				&:hover {
					& .icon {
						background: #D9E0F3;
					}
				}

				& .icon {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 55px;
					height: 55px;
					border: 1px solid #F5F6FC;
					border-radius: 50%;
					background: #F5F6FC;
					transition: all var(--transition-duration);


				}

				& input {
					position: absolute;
					visibility: hidden;
					width: 0;

					&:checked {
						&+.icon {
							border-color: #FFA570;
							background: #D9E0F3;
						}
					}
				}
			}
		}
	}
}

.present {
	&__decor {

		&_left,
		&_right {
			position: absolute;
		}

		&_left {
			top: 0;
			left: 0;
			width: 33%;
		}

		&_right {
			top: 0;
			right: 0;
			width: 48%;
		}
	}
}

.form {

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		visibility: hidden;

		&.active {
			visibility: visible;
		}
	}

}

// APARTS

.aparts {

	& .h2 {
		margin-bottom: 60px;
	}

	&__filter {

		&_control {
			display: flex;
			flex-direction: column;
			gap: var(--gap);

			.filter__form_field {
				flex: none;
			}
		}

		&_mobile {
			position: fixed;
			width: 100%;
			height: 100%;
			background: var(--clr-light);
			left: 0;
			max-height: 0%;
			bottom: 0;
			overflow: hidden;
			z-index: 100;
			transition: all 0.5s;

			&.show {
				max-height: 100%;
			}

			&-title {
				display: flex;
				align-items: baseline;
				justify-content: space-between;
			}

			& .aparts {

				&__filter {

					&_form {

						&-container {
							padding: 30px 30px;
							overflow: auto;
						}

						height: auto;
						// max-height: none !important;
					}

					&_result {
						// padding: 25px 30px;
						align-items: center;
						justify-content: center;

						&-num {
							gap: 5px;
						}
					}
				}
			}
		}

		&_form {
			// overflow: hidden;
			height: auto;
			max-height: 200px;
			transition: all var(--transition-duration);

			&.hidden {
				// visibility: hidden;
				max-height: 0;
				padding-bottom: 0;
			}
		}

		&_result {
			padding-top: 32px;
			border-top: 1px solid #D9E0F3;
			display: flex;
			align-items: center;
			justify-content: space-between;

			&-num {
				font-weight: 600;
			}
		}

		&_hidden {
			& svg {
				transition: all var(--transition-duration);
			}

			& .show-filter {
				display: inline;
			}

			& .hidden-filter {
				display: none;
			}

			&.active {
				& svg {
					transform: rotate(180deg);
				}

				& .show-filter {
					display: none;
				}

				& .hidden-filter {
					display: inline;
				}

			}
		}
	}

	&__list {
		margin-top: 60px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
		grid-gap: var(--gap);
	}

	&__item {
		display: flex;
		flex-direction: column;
		padding: 28px 30px 40px;
		border: 1px solid #898FA6;
		border-radius: var(--radius);
		transition: all var(--transition-duration);
		gap: 36px;
		color: var(--clr-accent);

		&:hover {
			border-color: var(--clr-accent-blue-hover);
		}

		&_img {
			display: flex;
			justify-content: center;
		}

		&_content {
			display: flex;
			flex-direction: column;
			gap: 18px;
		}

		&_desc {
			display: flex;
			flex-direction: column;
			gap: 10px;

			& p {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-weight: 600;
				// line-height: 1;
			}
		}

		&_price {

			& .old-price {
				margin-bottom: 4px;
				text-decoration: line-through;
				// line-height: 1;
				font-weight: 600;
			}

			& .new-price {
				font-weight: 800;
				color: var(--clr-accent-blue-hover);
			}
		}
	}

	&__more {
		margin-top: 80px;

		&_btn {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.filter {

	&__form {

		&_fields {
			display: flex;
			flex-wrap: wrap;
			gap: var(--gap);
			padding-bottom: 32px;
		}

		&_field {
			flex: 1 1 230px;
			background: var(--clr-white);
			padding: 6px 18px;
			position: relative;
		}
	}
}

.dropdown {
	display: flex;
	flex-direction: column;
	width: 100%;
	// position: relative;
	z-index: 2;
	font-weight: 600;

	&.active {
		& .dropdown__list {
			visibility: visible;
			// max-height: 250px;
			opacity: 1;
			transform: translateY(0);
		}
	}

	&__title {
		color: var(--clr-gray-hover);
	}

	&__value {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 6px 0;
		cursor: pointer;
		transition: all var(--transition-duration);
		z-index: 2;

		& svg path {
			transition: all var(--transition-duration);
		}

		&:hover {
			color: var(--clr-accent-blue-hover);

			& svg path {
				fill: var(--clr-accent-blue-hover);
			}
		}

		& .icon {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
		}
	}

	&__list {
		position: absolute;
		width: 100%;
		background: var(--clr-white);
		border-radius: calc(var(--radius) / 2);
		left: 0;
		top: calc(100% + 3px);
		display: flex;
		flex-direction: column;
		z-index: 10;
		box-shadow: 0px 4px 8px 0px rgba(139, 143, 162, 0.1);
		visibility: hidden;
		opacity: 0;
		transform: translateY(-50px);
		transition: all var(--transition-duration);
		overflow: auto;
		max-height: 250px;
		// height: auto;
		// max-height: 0;
	}

	&__item {
		padding: 12px 18px;
		display: flex;
		position: relative;
		cursor: pointer;
		transition: all var(--transition-duration);

		& input {
			position: absolute;
			visibility: hidden;

			&:checked+.value {
				color: var(--clr-accent-blue-hover);
			}
		}

		&:not(:last-child) {
			border-bottom: 1px solid var(--clr-light);
		}

		&:hover {
			background: rgba(#f5f6fb, 0.3);
			color: var(--clr-accent-blue-hover);
		}
	}
}

.line-select {
	padding: 6px 0;

	&__fields {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__field {
		position: relative;
		display: flex;
		cursor: pointer;
		transition: all var(--transition-duration);
		font-weight: 600;

		&:hover {
			color: var(--clr-accent-blue-hover);
		}

		& input {
			position: absolute;
			visibility: hidden;

			&:checked+.value {
				color: var(--clr-accent-blue-hover);
			}
		}

		& .value {
			transition: all var(--transition-duration);
		}
	}
}

.range-field {
	font-weight: 500;

	&__values {
		padding: 6px 0;
		display: flex;
		justify-content: space-between;


	}

	&__value {
		&-max {
			display: flex;

		}
	}

	&__input {
		position: absolute;
		display: flex;
		align-items: center;
		top: 100%;
		transform: translateY(-50%);
		width: 100%;
		padding: 0 18px;
		left: 0;

		& input {
			width: 100%;
			position: absolute;
			visibility: hidden;
		}
	}

	&__line {
		display: flex;
		align-items: center;
		width: 100%;
		position: relative;
		height: 2px;

		& .before {
			content: "";
			position: absolute;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: var(--clr-accent-blue-hover);
			cursor: pointer;
			left: 0%;
			transition: all .3s;

			&:hover {
				transform: scale(1.5);
			}
		}

		& .after {
			position: absolute;
			width: 8px;
			right: 0%;
			height: 8px;
			border-radius: 50%;
			background: var(--clr-accent-blue-hover);
			cursor: pointer;
			transition: all .3s;

			&:hover {
				transform: scale(1.5);
			}
		}
	}
}

.slide-field {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	font-weight: 600;

	&__input {
		display: flex;
		align-items: center;
		position: relative;
		border: 1px solid var(--clr-gray);
		border-radius: 16px;
		padding: 2px;
		gap: 2px;
		justify-content: space-between;
		width: 34px;
		cursor: pointer;

		&.active {
			border-color: var(--clr-accent-blue-hover);
		}

		& .radio {
			content: "";
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background: var(--clr-gray);
			position: relative;
			transform: translateX(0);
			transition: all 0.2s;
		}

		& input {
			visibility: hidden;
			cursor: pointer;
			position: absolute;
			height: 16px;
			position: absolute;

			&:checked+.radio {
				transform: translateX(100%);
				background: var(--clr-accent-blue-hover);
				right: 2px;
			}
		}
	}
}

// CALC

.calc {
	& .h2 {
		margin-bottom: 60px;
	}

	&__form {
		margin-bottom: 70px;

		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 56px 125px;
		background: #f5f6fc;

		&_fields {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			gap: var(--gap);
		}
	}

	&__res {
		padding: 26px 60px;
		background: var(--clr-white);
		border-radius: 5px;
		margin-top: 36px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: var(--gap);

		&_price {
			display: flex;
			flex-direction: column;
			gap: 8px;

			& .price {
				color: var(--clr-accent-blue-hover);
				font-weight: 600;
			}
		}

		&_fields {
			display: flex;
		}

		&_field {
			padding: 0 30px;
			border-left: 1px solid #D9E0F3;
			display: flex;
			flex-direction: column;
			gap: 8px;
			line-height: 1.4;
			justify-content: space-between;

			&:last-child {
				padding-right: 0;
			}

			& .value {
				font-size: 1.125rem;
				line-height: 1.4;
			}
		}

		&_subtext {
			margin-top: 12px;
			max-width: 660px;
			font-weight: 600;
			text-align: center;
		}
	}

	&__resp {
		margin-top: 40px;
	}

	&__developer {
		display: flex;
		gap: 95px;
		justify-content: space-between;

		&_link {

			& a {
				display: flex;
				width: 100%;
				height: auto;

				& img {
					width: 100%;
				}
			}
		}

		&_info {
			display: flex;
			flex-direction: column;
			gap: calc(var(--gap) * 1.5);
			padding-top: 50px;
			width: calc(578 / 1200 * 100%);
			flex-shrink: 0;
		}

		&_img {
			border-radius: var(--radius);
			overflow: hidden;
			isolation: isolate;
			height: auto;
			// flex-shrink: 0;
			width: calc(650 / 1200 * 100%);

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&_quote {
			padding: 27px 68px;
			max-width: 450px;
		}

		&_rating {
			display: flex;
			align-items: center;
			gap: 24px;

			& .icon {
				flex-shrink: 0;
				width: 96px;

				& img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}

			& .text {
				max-width: 400px;
			}

			& .h3 {
				margin-bottom: 8px;
			}
		}

		&_desc {
			font-size: 0.875rem;
			line-height: 1.3;
			font-weight: 600;

			& p:not(:last-child) {
				margin-bottom: 8px;
			}
		}

		&_note {
			font-size: 0.75rem;
			color: #222;
			font-weight: 600;
			line-height: 1.4;
		}
	}
}

// DEVELOPER

.developer {

	& .h2 {
		margin-bottom: 56px;
	}

	&__sliders {
		display: flex;
		justify-content: space-between;
		gap: 70px;
	}

	&__slider {
		width: calc(692 / 1200 * 100%);
		// flex-shrink: 0;

		& a {
			display: flex;
			width: 100%;
			height: 100%;

		}

		&_text {
			width: calc(437 / 1200 * 100%);
			// flex-shrink: 0;

			& .about__slider_control {
				position: absolute;
				bottom: 0;
				z-index: 1;
			}
		}
	}

	&__slide {
		width: 100%;
		height: 100%;
		border-radius: var(--radius);
		overflow: hidden;
		isolation: isolate;

		& a {
			display: flex;
			width: 100%;
			height: 100%;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&__text-slide {
		padding: 50px 0;
		background: var(--clr-light);

		& .h3 {
			margin-bottom: 18px;
		}

		& p {
			line-height: 1.4;

			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}
}

// FAQ

.faq {

	& .h2 {
		margin-bottom: 60px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 24px;
		height: 100%;
		justify-content: space-between;
	}

	&__item {
		padding: 42px 102px;
		background: var(--clr-light);
		display: flex;
		flex-direction: column;

		&.active {

			& .faq {
				&__item {

					&_title {

						& svg {
							transform: perspective(100px) rotateX(-180deg);
						}
					}
				}
			}
		}

		// gap: 26px;

		&_title {
			display: flex;
			justify-content: space-between;
			transition: all var(--transition-duration);
			gap: calc(var(--gap) * 2);

			& .icon {
				display: flex;
				width: 32px;
				flex-shrink: 0;
			}

			& svg,
			& svg path {
				transition: all var(--transition-duration);
			}

			&:hover {
				color: var(--clr-accent-blue-hover);

				& svg path {
					fill: var(--clr-accent-blue-hover);
				}
			}
		}

		&_content {}

		&_body {
			margin-top: 26px;
			padding-top: 26px;
			border-top: 1px solid #D9E0F3;

			& p {
				width: 60%;
			}

		}
	}
}

.accordion-header {
	font-family: var(--font_accent);
	/* font-weight: bold; */
	display: flex;
	gap: 15px;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.5s ease;
}

.accordion-content {
	// visibility: hidden;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease;
}