.head {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;

	& .container {
		padding-top: 35px;
		padding-bottom: 35px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 35px;
	}

	&__logo {
		flex-shrink: 0;
	}

	&__nav {

		&_list {
			display: flex;
			align-items: center;
			gap: 2rem;
		}

	}

	&__call {
		display: flex;
		align-items: center;
		gap: 35px;
	}

	&__burger {
		display: none;
	}
}

.burger {
	position: relative;
	cursor: pointer;
	user-select: none;
	min-width: 25px;
	height: 18px;
	background: transparent;
	z-index: 10;

	&-line {
		position: absolute;
		display: block;
		right: 0;
		width: 100%;
		height: 2px;
		opacity: 1;
		border: none;
		outline: none;
		border-radius: 1rem;
		background: var(--clr-accent);
		transition: all var(--transition-duration);

		&:nth-child(1) {
			top: 0px;
			width: 100%;
		}

		&:nth-child(2) {
			top: 8px;
			width: 75%;
		}

		&:nth-child(3) {
			top: 16px;
			width: 50%;
		}
	}

	&:hover {

		& .burger-line {

			&:nth-child(1) {
				width: 100%;
			}

			&:nth-child(2) {
				width: 100%;
			}

			&:nth-child(3) {
				width: 100%;
			}
		}
	}
}

.main {
	flex-grow: 1;
}

.foot {
	background: var(--clr-light);

	& .container {
		padding-top: 70px;
		padding-bottom: 35px;
	}

	&__content {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 35px;
	}

	&__logo {
		flex-shrink: 0;
	}

	&__cols {
		display: flex;
		align-items: flex-start;
		gap: 6rem;
	}

	&__col {
		display: flex;
		flex-direction: column;
		gap: 18px;
		max-width: 285px;

		&_buttons {
			display: flex;
			flex-direction: column;
			gap: 35px;
		}
	}

	&__nav {
		&_list {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 11px;
		}

		&_contact {
			&-title {
				margin-bottom: 2px;
			}

			&-link {
				color: var(--clr-accent);
				transition: all var(--transition-duration);

				&:hover {
					color: var(--clr-accent-blue-hover);
				}
			}
		}
	}
}

.scls {

	&__title {
		margin-bottom: 11px;
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	&__item {
		& svg path {
			transition: all var(--transition-duration);
		}

		&:hover {
			& svg path:first-child {
				fill: var(--clr-accent-blue-hover) !important;
			}
		}
	}
}

.copyright {
	display: flex;
	align-items: center;
	gap: 15px;
	justify-content: center;
	margin-top: 75px;
	flex-wrap: wrap;

	&__text {
		display: flex;
		align-items: center;
	}
}

.mobile {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	background: rgba($color: #fff, $alpha: 0.3);
	backdrop-filter: blur(1px);
	visibility: hidden;
	opacity: 0;
	transition: all var(--transition-duration);

	&.show {
		visibility: visible;
		opacity: 1;


		& .mobile__content {
			visibility: visible;
			// transform: translate(0);
		}
	}

	&__content {
		width: 90%;
		position: absolute;
		top: 0;
		right: 0;
		max-width: 450px;
		height: 100%;
		background: var(--clr-white);
		-webkit-box-shadow: -3px 0px 8px 0px rgba(70, 70, 70, 0.2);
		-moz-box-shadow: -3px 0px 8px 0px rgba(70, 70, 70, 0.2);
		box-shadow: -3px 0px 8px 0px rgba(70, 70, 70, 0.2);
		border-left: 1px solid var(--clr-light);
		overflow: auto;
		padding: 35px 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 40px;
		visibility: hidden;
		transform: translate(100%);
		transition: all 0.7s;

		&_head {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&_main {
			flex-grow: 1;
		}
	}

	&__nav {
		&_list {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			gap: 20px;
		}

		&_link {
			font-size: 1.125rem;
			font-weight: 600;
		}
	}

	&__col {
		display: flex;
		flex-direction: column;
		gap: 18px;
	}

	&__close {

		&_btn {

			& svg path {
				transition: all var(--transition-duration);
			}

			&:hover {
				& svg path {
					stroke: var(--clr-accent-blue-hover);
				}
			}
		}
	}

}

.polzunok-container-5 * {
	box-sizing: border-box;
	outline: none;
}

.polzunok-container-5 {
	padding: 10px 16px;
	margin: 30px;
}

.polzunok-container-5:after {
	content: "";
	clear: both;
	display: table;
}

.polzunok-container-5 .ui-slider {
	position: relative;
	background: #BFE2FF;
	height: 10px;
	border-radius: 10px;
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(255, 255, 255, 1);
}

.polzunok-container-5 .ui-slider .ui-slider-handle {
	position: absolute;
	margin-left: -16px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	border-radius: 50%;
	border: 4px solid #BFE2FF;
	top: -11px;
	background: #FFF;
	z-index: 2;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
	transition: transform 0.2s, border 0.4s;
}

.polzunok-container-5 .ui-slider .ui-slider-handle:hover,
.polzunok-container-5 .ui-slider .ui-slider-handle:focus {
	transform: scale(1.2);
	border: 4px solid #337AB7;
}

.polzunok-input-5-left,
.polzunok-input-5-right {
	width: 50px;
	font-weight: 600;
	color: var(--clr-accent);
	font-family: var(--main-font);
}

// .polzunok-input-5-left {
// 	float: left;
// }

.polzunok-input-5-right {
	text-align: right;
}

.polzunok-container-5 .ui-slider .ui-slider-range {
	position: absolute;

	z-index: 1;
	height: 4px;
	border: 0;
	background: #337AB7;
	border-radius: 10px;
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3), 1px 1px 5px rgba(255, 255, 255, 1);
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: var(--clr-accent-blue-hover);
	border: none;
	background: #ededed;
	font-weight: normal;
	color: #2b2b2b;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	border: none;
	background: #f6f6f6;
	font-weight: normal;
	color: #454545;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: var(--clr-accent-blue-hover);
	cursor: pointer;
	-ms-touch-action: auto;
	touch-action: auto;
	transition: transform 0.3s;
}

.ui-slider .ui-slider-handle:last-child {
	transform: translateX(-50%);
}

.ui-slider .ui-slider-handle:hover,
.ui-slider .ui-slider-handle.ui-state-active {
	transform: scale(1.5);
}

.ui-slider .ui-slider-handle:last-child:hover,
.ui-slider .ui-slider-handle:last-child.ui-state-active {
	transform: scale(1.5) translateX(-50%);
}

.ui-widget-header {
	background: var(--clr-accent-blue-hover);
}

.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 2px;
	// transform: translateY(-50%);
}

.ui-widget-content {
	border: none;
	background: none;
	color: #333333;
}

.ui-widget.ui-widget-content {
	border: none;
}

.ui-slider-horizontal .ui-slider-handle {
	top: auto;
	margin-left: 0;
}