@media screen and (max-width: 1200px) {

	:root {
		--cont-padding: 3rem;
	}

	h1,
	.h1 {
		font-size: 2.875rem;
	}

	h2,
	.h2 {
		font-size: 2.125rem;
	}

	.section {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.head {

		&__nav {
			display: none;
		}

		&__burger {
			display: block;
		}
	}

	.foot {
		&__cols {
			gap: 3.5rem;
		}
	}

	.fs {
		// max-height: 700px;

		&-index {

			& .container {
				padding-top: 160px;
				padding-bottom: 100px;
			}
		}

		&__title,
		&__subtitle {
			font-size: 46px;
		}

		&__recall {
			gap: 45px;
		}

		&__advs {
			margin-top: 70px;
		}

		&__decor {
			&_left {
				left: -8%;
				width: 35%;

				&-house {
					position: absolute;
					/* bottom: -30%; */
					width: 100%;
					// right: 32.3%;
					// top: auto;
					bottom: -30%;

					& img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: bottom right;
					}
				}

				&-three1 {
					position: absolute;
					bottom: 0;
					left: -5%;
					width: 85%;
				}

				&-three2 {
					position: absolute;
					bottom: 0;
					left: -3%;
					width: 85%;
				}

				&-three3 {
					position: absolute;
					bottom: 0;
					right: 5%;
					width: 85%;
				}

				&-foll {
					position: absolute;
					right: 10%;
					top: 13%;
				}
			}

			&_right {
				right: -8%;
				width: 35%;

				&-house {
					position: absolute;
					width: 138%;
					left: 15.3%;
					// top: 29%;
					bottom: -5%;



					& img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: bottom left;
					}
				}

				&-three1 {
					position: absolute;
					bottom: 0;
					left: 37%;
				}

				&-three2 {
					position: absolute;
					bottom: 0;
					left: 0;
				}

				&-foll {
					position: absolute;
					left: 40%;
					top: 26%;
				}
			}


		}
	}

	.apart {

		&__desc {
			&_container {
				padding: 50px 45px;
				gap: 40px;
			}
		}
	}

	// ABOUT
	.about {

		&__decor {

			&_right {
				top: 20px;
			}

			&_left {
				bottom: 20px;
			}
		}

		&__apart {
			gap: 50px;

			&_sheme {
				padding: 40px 80px;
			}
		}

		&__slider {
			height: 400px;
		}

		&__slide.swiper-slide-active {
			transform: scale(1.05);
		}

		&__list {
			margin-top: 60px;
		}
	}

	// MAP

	.map {

		& .h2 {
			margin-bottom: 50px;
		}

		&__content {
			height: 500px;
		}

		&__points {
			left: 30px;
			padding: 35px 40px;
		}
	}

	// FINISHINGS

	.finishings {

		& .h2 {
			margin-bottom: 50px;
		}

		&__sliders {
			padding: 0 80px;
			gap: 60px;
		}

		&__slider {
			&_false {
				width: 90%;
			}
		}

		&__slide {

			&_title {
				margin-bottom: 40px;
				font-size: 28px;
			}

			&_text {
				padding: 40px 0;
			}

			&_advs {
				gap: 30px;

				&-item {
					padding: 0;
				}
			}
		}

		&__text {
			&_slider {
				width: 245px;
			}
		}
	}

	// FEEDBACK 
	.feedback {

		&__decor {
			&_right {
				right: 0;
			}
		}

		&__content {
			padding: 60px 100px;
		}
	}

	// APARTS 

	.aparts {

		& .h2 {
			margin-bottom: 50px;
		}

		&__list {
			margin-top: 50px;
		}

		&__more {
			margin-top: 55px;
		}
	}

	// CALC

	.calc {

		& .h2 {
			margin-bottom: 50px;
		}
	}

	// CALC

	.calc {

		& .h2 {
			margin-bottom: 50px;
		}

		&__form {
			margin-bottom: 60px;
			padding: 45px 100px;
		}

		&__res {
			padding: 20px 40px;
			flex-direction: column;

			&_field {
				flex-grow: 1;

				&:last-child {
					// border-right: 1px solid #D9E0F3;
				}
			}
		}

		&__developer {
			gap: 80px;

			&_info {
				padding-top: 40px;
			}

			&_rating {
				gap: 20px;

				& .icon {
					width: 85px;
				}
			}

			&_quote {
				padding: 20px 50px;
				max-width: 450px;
			}
		}
	}

	// DEVELOPER

	.developer {

		& .h2 {
			margin-bottom: 50px;
		}

		&__sliders {
			gap: 60px;
		}

		&__text {

			&-slide {
				padding-top: 40px;
			}
		}
	}

	// FAQ

	.faq {

		& .h2 {
			margin-bottom: 50px;
		}

		&__list {
			gap: var(--gap);
		}

		&__item {
			padding: 35px 80px;

			&_body {
				margin-top: 22px;
				padding-top: 22px;

				& p {
					width: 65%;
				}
			}
		}
	}
}