@media screen and (max-width: 550px) {

	:root {
		--cont-padding: 1rem;
		--radius: 6px;
		--gap: 10px;
	}

	.btn {

		&-color,
		&-secondary {
			padding: 16px 35px;
		}
	}

	h1,
	.h1 {
		font-size: 1.875rem;
	}

	h2,
	.h2 {
		font-size: 1.5rem;
	}

	h3,
	.h3 {
		font-size: 1.125rem;
	}

	.section {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.head {
		&__call {
			gap: 10px;

			&_link {
				width: 40px;
				height: 40px;

				& svg {
					width: 100%;
					height: 100%;
				}

				& .num {
					display: none;
				}

			}
		}
	}

	.foot {

		& .container {
			padding-top: 30px;
			padding-bottom: 20px;
		}

		&__content {
			gap: 25px;
		}

		&__cols {
			gap: 25px 40px;
		}
	}

	.copyright {
		margin-top: 30px;
		gap: 5px;
	}

	.logo {
		width: 125px;
	}

	.fs {

		&__decor {

			&_right {
				right: 0%;
				// display: none;

				&-foll {
					display: none;
				}
			}

			&_left {
				left: -8%;

				&-foll {
					display: none;
				}
			}
		}

		&__advs {
			&_list {
				gap: 30px;
			}
		}
	}



	.apart {
		&__desc {
			&_container {
				padding: 20px 15px;
			}
		}
	}

	.about {

		&__apart {

			&_sheme {
				padding: 20px 15px;
				gap: 30px;
			}

			&_desc {
				min-width: auto;
			}
		}

		&__decor {

			&_right {
				display: none;

			}

			&_left {
				display: none;
			}
		}

		&__desc {
			margin-top: 16px;
			margin-bottom: 30px;
		}

		&__slider {
			height: 250px;

			&_control {
				margin-top: 25px;

			}
		}

		&__list {
			grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
			margin-top: 30px;
		}
	}

	// MAP

	.map {

		&__content {
			& #main_map {
				height: 350px;
			}
		}

		& .h2 {
			margin-bottom: 25px;
		}

		&__points {
			padding: 20px 15px;

			&_item {
				width: 100%;
				font-size: 0.878rem;
			}
		}
	}

	// FINISHINGS

	.finishings {

		& .h2 {
			margin-bottom: 25px;
		}

		&__sliders {
			padding: 0 0px;
			width: 100%;
			gap: 20px;
			flex-direction: column;
			transform: scale(1);

			&-container {
				height: auto;
			}
		}

		&__slider {
			width: 100%;
			height: 300px;

			&_false {
				width: calc(100% - 5px);
				height: 350px;
				visibility: hidden;
			}
		}

		&__slide {

			&_title {
				margin-bottom: 20px;
				font-size: 20px;
			}

			&_text {
				padding: 0 0 60px;
			}

			&_advs {
				flex-direction: row;
				// gap: var(--gap);
				flex-wrap: wrap;

				&-item {
					padding: 0;
					width: calc(100%);
				}
			}

			&_images {
				gap: var(--gap);
			}
		}

		&__text {
			&_slider {
				width: 100%;
			}
		}
	}

	// FEEDBACK 
	.feedback {

		&__decor {
			&_right {
				right: 0;
				display: none;
			}

			&_left {
				display: none;
			}
		}

		&__content {
			padding: 30px 35px;
		}

		&__form {

			&_title {
				margin-bottom: 10px;
			}

			&_subtitle {
				margin-bottom: 16px;
			}

			&_fields {
				gap: 10px;
				margin-bottom: 30px;
			}

			&_label {
				// width: 100%;
				padding: 0 12px;

				& .input {
					// padding: 14px 0 8px 14px;
				}
			}

			&_subtitle {
				margin-bottom: 30px;
			}

			&_scls {
				gap: 10px;
				// flex-wrap: wrap;
				justify-content: flex-start;

				&-text {
					font-size: 0.875rem;
					font-weight: 600;
				}

				&-list {
					margin-left: auto;
					gap: 14px;
				}

				&-item {
					width: 50px;
					height: 50px;

					& .icon {
						width: 100%;
						height: 100%;
					}
				}
			}

		}
	}

	// APARTS 

	.aparts {

		& .h2 {
			margin-bottom: 25px;
		}

		&__list {
			margin-top: 25px;
		}

		&__item {
			padding: 20px 20px 30px;
		}
	}

	// CALC

	.calc {

		& .h2 {
			margin-bottom: 25px;
		}

		&__form {
			margin-bottom: 30px;
			padding: 20px 30px;

			&_fields {
				gap: calc(var(--gap) * 2);
			}
		}

		&__resp {
			margin-top: 25px;
		}

		&__developer {
			gap: 30px;

			&_link {
				width: 100%;
			}

			&_info {
				padding-top: 0px;
				width: 100%;
			}

			&_img {
				width: 100%;
			}

			&_quote {
				padding: 15px;
			}

			&_rating {
				gap: 15px;
				align-items: flex-start;

				& .icon {
					width: 60px;
					margin-top: 5px;
				}

				& .h3 {
					margin-bottom: 4px;
				}

				& p {
					font-size: 0.875rem;
				}
			}
		}
	}

	// DEVELOPER

	.developer {

		& .h2 {
			margin-bottom: 25px;
		}

		&__sliders {
			gap: 20px;
		}

		&__text {

			& .h3 {
				margin-bottom: 8px;
			}
		}
	}

	// FAQ

	.faq {

		& .h2 {
			margin-bottom: 25px;
		}

		&__item {
			padding: 15px 20px;

			&_title {
				align-items: flex-start;

				& .icon {
					width: 25px;
				}
			}

			&_body {
				margin-top: 16px;
				padding-top: 16px;

				& p {
					width: 95%;
				}
			}
		}
	}

	.present {
		&__decor {

			&_left,
			&_right {
				display: none;
			}

			&_left {
				top: 0;
				left: 0;
				width: 33%;
			}

			&_right {
				top: 0;
				right: 0;
				width: 48%;
			}
		}
	}

}